BAZECOR
chromium
dconf
discord
EOS-arch-news.conf
EOS-arch-news-for-you.conf
EOS-greeter.conf
EOS-initial-wallpaper.XFCE
pavucontrol.ini
ristretto
systemd
Thunar
user-dirs.dirs
user-dirs.locale
xfce4
yay
.stack-work
**/.surf/cache
xmonad-x86_64-linux
__pycache__
**/kitty/kitty-themes
