* {
  accent:           #83a598;
  /*background:       #282828;*/
  background:       #282828dd;
  background-light: #303030dd;
  foreground:       #ebdbb2;
  on:               #44ad4d;
  off:              #fb4934;
}

