*.background:   #282828
color5: #ff0000

Xcursor.size: 16
Xcursor.theme: capitaine-cursors-light

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

rofi.lines: 5
rofi.eh: 2
rofi.padding: 200
rofi.fullscreen: true
rofi.bw: 0
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.color-enabled: true

!                  'background', 'border', 'separator'
rofi.color-window: argb:c82d303b, #7c8389, #1d1f21
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: argb:031d1f21, #f3f4f5, argb:031d1f21, argb:031d1f21, #9575cd
rofi.color-urgent: argb:031d1f21, #f3f4f5, argb:bc303541, argb:031d1f21, #9575cd
rofi.color-active: argb:031d1f21, #f3f4f5, argb:031d1f21, argb:031d1f21, #9575cd
rofi.font: System San Francisco Display 18

dzen.font: -*-fixed-medium-r-s*--12-87-*-*-*-*-iso10???-1




URxvt.font: xft:scientifica





!URxvt.color24:  #076678
!URxvt.color66:  #427b58
!URxvt.color88:  #9d0006
!URxvt.color96:  #8f3f71
!URxvt.color100: #79740e
!URxvt.color108: #8ec07c
!URxvt.color109: #83a598
!URxvt.color130: #af3a03
!URxvt.color136: #b57614
!URxvt.color142: #b8bb26
!URxvt.color167: #fb4934
!URxvt.color175: #d3869b
!URxvt.color208: #fe8019
!URxvt.color214: #fabd2f
!URxvt.color223: #ebdbb2
!URxvt.color228: #f2e5bc
!URxvt.color229: #fbf1c7
!URxvt.color230: #f9f5d7
!URxvt.color234: #1d2021
!URxvt.color235: #282828
!URxvt.color236: #32302f
!URxvt.color237: #3c3836
!URxvt.color239: #504945
!URxvt.color241: #665c54
!URxvt.color243: #7c6f64
!URxvt.color244: #928374
!URxvt.color245: #928374
!URxvt.color246: #a89984
!URxvt.color248: #bdae93
!URxvt.color250: #d5c4a1
