/* ==UserStyle==
@name           gruvbox docs.rs
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
@preprocessor stylus
==/UserStyle== */
@-moz-document domain("docs.rs"),
domain("doc.rust-lang.org") {
    :root {
        --bg0: #1d2021;
        --bg1: #222222;
        --bg2: #282828;
        --bg3: #504945;
        --bg4: #202020;
        --fg0: #ebdbb2;
        --fg1: #fbf1c7;
        --fg2: #d5c4a1;
        --fg3: #a89984;
        --col_blue: #83a598;
        --col_accent: #8ec07c;
        --col_accent_dark: #8ec07c;
        --col_yellow: #fabd2f;
        --col_red: #fb4934;
        --border: rgb(53, 51, 49);

        --monospaced: "Jetbrains Mono";
        --monospaced-size: 14px;
        --monospaced-small: cozette;
    }

    .nav-container {
        background-color: var(--bg2) !important;
        border: none !important;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
        & * {
            color: var(--fg1) !important;
        }
    }

    button#theme-picker {
        display: none;
    }
    #settings-menu {
        background-color: inherit;
        border: none;
        transform: translateY(4px);
    }

    input#nav-search {
        padding-left: 1rem;
        background-color: inherit !important;
    }

    nav {
        .search-container {
            input,
            #crate-search,
            input:focus,
            crate-search:focus {
                background-image: none;
                outline: none;
                color: var(--fg1) !important;
                border: 1px solid var(--border) !important;
                box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5) !important;
                background-color: var(--bg1) !important;
            }
            input,
            input:focus {
                border-left: none !important;
            }
            #crate-search,
            #crate-search:focus {
                padding-right: 1.4rem;
                border-right: none !important;
            }
        }
    }


    .sidebar {
        background-color: var(--bg1) !important;
        box-shadow: inset -5px 0 10px 0 rgba(0, 0, 0, 0.4);
        scrollbar-width: thin !important;
        .logo-container {
            display: none;
        }
        & * {
            color: var(--fg1);
        }
        h1,
        h2,
        h3,
        .sidebar-title {
            color: var(--col_accent) !important;
        }



        .block {
            a {

                &.current {
                    background-color: var(--col_accent) !important;
                    color: var(--bg2);
                }
            }
        }
    }

    .pure-menu-children {
        background-color: var(--bg2);
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    }


    #rustdoc_body_wrapper,
    body {
        background-color: var(--bg2) !important;
        color: var(--fg1);
        h1,
        h2,
        h3 {
            color: var(--fg1);
        }
        code {
            background-color: inherit;
            font-family: var(--monospaced);
            font-size: var(--monospaced-size);
        }

        a.srclink {
            padding: 0rem 1rem;
            color: var(--col_accent);
        }
        .collapse-toggle {
            transform: translateY(-3px);
            color: var(--fg3);
        }
    }
}
