
* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
window {
  background-color: #282828;
  color: #ffd5cd;
  font-family: cozette;
}

button {
  all: unset;
  background-color: #282828;
}

.bar {
  padding-left: 30px;
  padding-right: 30px;
}


// Styles on classes (see eww.xml for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.slider-vol scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.slider-vol scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.slider-ram scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.slider-ram scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram, .label-vol {
  font-size: large;
}
.time {
  padding-right: 10px;
}

.workspaces button:hover {
  color: #D35D6E;
}

.workspaces > * {
  padding-left: 5px;
  padding-right: 5px;
}

.active_wsp {
  color: #8ec07c;
}

.full_wsp {
  color: #ebdbb2;
}

.inactive_wsp {
  color: #a89984;
}
