::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track{
  background-color: #282828;
}

::-webkit-scrollbar-thumb{
  background-color: #fbf1c7;
  border: 2px solid #282828;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background: silver;
}
