::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track:vertical {
  background: black;
  border-left: 1px solid black;
}

::-webkit-scrollbar-thumb:vertical {
  background: white;
  border-left: 1px solid black;
}

::-webkit-scrollbar-track:horizontal {
  background: white;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: white;
  border-radius: 4px;
  box-shadow: inset 0 0 8px black;
}

::-webkit-scrollbar-corner {
  background: silver;
}
