* {
  all: unset;
}

.bar {
  background-color: #1d2021;
  color: #ebdbb2;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "CozetteVector";
  font-size: 12px;

  .current  {
    color: #8ec07c;
  }
  
}

