; {% if !device.kenbun %}
[user]
	name = elkowar
	email = dev@elkowar.dev
[github]
    user = ElKowar
; {% end %}
[include]
	path = ~/.gitconfig.local
[credential]
	helper = store
[core]
	autocrlf = input
	; {% if io::command_available("delta") %}
	;<yolk> pager = delta
;<yolk> [delta]
	;<yolk> features = side-by-side line-numbers decorations navigate
	;<yolk> yntax-theme = gruvbox

;<yolk> [delta "line-numbers"]
	;<yolk> line-numbers-left-style = cyan
	;{% end %}

[pull]
    rebase = false

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[alias]
	c = commit --verbose
	s = status -s
	d = diff
	ds = diff --stat
	dc = diff --cached
	dn = diff --numstat
	ss = status
	a = add
[push]
	autoSetupRemote = true
	default = current
