; {% if !device.kenbun %}
[user]
	name = elkowar
	email = dev@elkowar.dev
[github]
  user = ElKowar
; {% else %}
;<yolk> [user]
  ;<yolk> name = Leon Kowarschick
  ;<yolk> email = leon.kowarschick@kenbun.de
  ;<yolk> signingkey = ~/.ssh/kenbun
;<yolk> [github]
  ;<yolk> user = LeonKowarschickKenbun
; {% end %}
[commit]
  gpgsign = true
[include]
  path = ~/.gitconfig.local
[credential]
	helper = store
[core]
	autocrlf = input
	; {% if io::command_available("delta") %}
	;<yolk> pager = delta
;<yolk> [delta]
	;<yolk> features = side-by-side line-numbers decorations navigate
	;<yolk> yntax-theme = gruvbox

;<yolk> [delta "line-numbers"]
	;<yolk> line-numbers-left-style = cyan
	;{% end %}

[gpg]
  format = ssh

; {% if device.macbook %}
;<yolk> [gpg "ssh"]
  ;<yolk> program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	;<yolk> allowedSignersFile = /Users/leon/.ssh/allowed_signers
; {% end %}

[pull]
  rebase = true

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	c = commit --verbose
	s = status -s
	d = diff
	ds = diff --stat
	dc = diff --cached
	dn = diff --numstat
	ss = status
	a = add
[push]
	autoSetupRemote = true
	default = current
